<mulder-layout>
    <mulder-main-header backgroundImage='url("assets/img/PICT0024.JPG")' heading="Journées Cloud 2021"
        subHeading="25-26 Novembre 2021" [siteHeading]="true">
    </mulder-main-header>
<!--a DSL-based Jamstack-compliant modern sites generator on top of Scully (Angular)"-->

        <div class="content">
            <div class="container">
                <div class="row justify-content-center">
                    <iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" src="https://tube.nocturlab.fr/video-playlists/embed/b0cec275-c212-4470-9ba1-c350138c2966" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="row justify-content-center ">
                    <p style="text-align: justify;"><span style="line-height: 1.5; font-size: large; font-family: book antiqua, palatino; color: #000000;">Le<a href="http://gdr-rsd.cnrs.fr/"><span style="color: #000000;"> GdR RSD (Réseaux et Systèmes Distribués)</span></a> a mis en place un groupe de travail « <a href="http://rsd-cloud.roc.cnam.fr/"><span style="color: #000000;">Virtualisation</span></a> » qui participe à l’animation scientifique entre le pôle réseaux (RESCOM) et le pôle systèmes distribués (SD). Cette action organise depuis 2014 les Journées Cloud pour réunir les acteurs académiques et industriels français abordant les problématiques liées à l’administration et à l’utilisation d’environnements virtualisés/cloudifiés.</span></p>

                    <p><span style="text-align: justify;">L'édition 2021 des Journées Cloud est organisée à Brest les 25 et 26 novembre 2021!</span></p>

                </div>
                <div class="row justify-content-center sm-10">

                          <div class="align-items-center card" >
                          <div class="align-items-center card-body">
                              <h5 class="card-title">Organisateurs</h5>
                          <!--    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                              <p class="card-text  align-items-center">Jalil Boukhobza <a href="mailto:jalil.boukhobza@ensta-bretagne.fr">jalil.boukhobza@ensta-bretagne.fr</a><BR>
                              Yassine HADJADJ-AOUL <a href="mailto:yassine.hadjadj-aoul@irisa.fr">yassine.hadjadj-aoul@irisa.fr</a><BR>
                              Olivier Barais <a href="mailto:barais@irisa.fr">barais@irisa.fr</a><BR></p>
                          </div>
                          </div>
                          </div>

            </div>
        </div>

</mulder-layout>
