<mulder-layout>
    <mulder-main-header backgroundImage='url("assets/img/PICT0024.JPG")' heading="Journées Cloud 2021"
        subHeading="25-26 Novembre 2021" [siteHeading]="true">
    </mulder-main-header>
<!--a DSL-based Jamstack-compliant modern sites generator on top of Scully (Angular)"-->

        <div class="content">
            <div class="container">
                <div class="row justify-content-center ">
                    <p style="text-align: justify;"><span style="line-height: 1.5; font-size: large; font-family: book antiqua, palatino; color: #000000;">Le<a href="http://gdr-rsd.cnrs.fr/"><span style="color: #000000;"> GdR RSD (Réseaux et Systèmes Distribués)</span></a> a mis en place une action transverse « <a href="http://rsd-cloud.roc.cnam.fr/"><span style="color: #000000;">Virtualisation et Cloud</span></a> » qui participe à l’animation scientifique entre le pôle réseaux (RESCOM) et le pôle systèmes distribués (SD). Cette action organise depuis 2014 les Journées Cloud pour réunir les acteurs académiques et industriels français abordant les problématiques liées à l’administration et à l’utilisation d’environnements virtualisés/cloudifiés.</span></p>

                    <p><span style="text-align: justify;">L'édition 2021 des Journées Cloud est organisée à Brest !</span></p>

                </div>
                <div class="row justify-content-center ">

                    <h2>
                        Dates importantes
                    </h2>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row"></td>
                                <td>Soumission (Date limite)
                                </td>
                                <td>24 Septembre 2021
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td> Date de notification</td>
                                <td>08 Octobre 2021</td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td>Date limite inscriptions</td>
                                <td>22 Octobre 2021</td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td>Journées Cloud 2021</td>
                                <td>25-26 Novembre 2021</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</mulder-layout>
