<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://gdr-rsd.cnrs.fr" target="_blank" ><img width="300px" src="https://gdr-rsd.cnrs.fr/sites/default/files/rsd-banner-01_1.png"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://gdr-gpl.cnrs.fr" target="_blank" ><img width="150px" src="https://gdr-gpl.cnrs.fr/sites/default/files/imagesGPL/Logo/LOGO-GDR_GPL_Bleu.png"/></a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.ensta-bretagne.fr" target="_blank" ><img width="200px" src="https://www.ensta-bretagne.fr/sites/default/files/2019-10/ENSTABretagne-LogoH-RVB-COULEUR.jpg"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://labsticc.fr" target="_blank" ><img width="150px" src="https://www.imt-atlantique.fr/sites/default/files/users/user1867/logo-lab-sticc.png"/></a>
                    </li>



                </ul>
                <!--<ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/barais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "twitter"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://scholar.google.fr/citations?user=LV5i8X4AAAAJ&hl=en" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "google"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/obarais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "facebook-f"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/mulder-jamstack" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "github"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.linkedin.com/in/olivierbarais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "linkedin"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>

                </ul>-->
                <p class="copyright text-muted">proudly powered by <a target="_blank" href="https://scully.io/">scully.io</a>  and <a target="_blank" href="https://mulder-jamstack.github.io/">mulder</a></p>
            </div>
        </div>
    </div>
</footer>
